<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width: 500px;">
            <div class="card-header">
                <h3 class="text uppercase text-center p-4">Seguimiento a tus finanzas personales</h3>
                <div class="card-body text-center">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum officia officiis doloremque, repudiandae praesentium neque laborum at exercitationem dicta atque blanditiis et, sed dignissimos nisi tempora? Natus minima vero unde!</p>
                    <a href="#" class="btn btn-primary">Crear Gasto</a>
                </div>
            </div>
        </div>
    </div>
</main>